

<h1>Welcome please enter your names below </h1>


<form action='/names' method="post"> 
  <input type="text" name="playerone">
  <input type="text" name="playertwo">
  <input type="submit" value="Submit">
</form>