
<h1>Welcome <%= @playerone %> and <%= @playertwo %> to battleships!</h1>



<form action="/" method="post"> 
  <input type="text" name="playerone">
  <input type="text" name="playertwo">
  <input type="submit" value="Submit">
</form>