<h1>Welcome <%= @playerone %> and <%= @playertwo %> to battleships!</h1>

<h2><%= @playertwo %> points = 100 </h2>

<form action='/player_1_confirmation' method="post"> 
  <input type="submit" value ='Attack!!' name="attack">
  </form>

